<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../wwwroot/css/bootstrap.css">
  <link rel="stylesheet" href="../wwwroot/css/font-awesome.css">
  <link rel="stylesheet" href="app.css">
  <script src="../bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="bibliobabel">
<!--
          ********************* NAV BAR SECTION
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bibliobabel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><i class="fa fa-book fa-lg"></i><span class="badge">1</span><span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="fa fa-comments fa-lg"></i><span class="badge">1</span></a></li>
        <li><a href="#"><i class="fa fa-globe fa-lg"></i><span class="badge">1</span></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><img src="http://lorempixel.com/25/25" alt=""/><span>&nbsp; Seyed Jalal Hosseini</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog fa-lg"></i><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a></li>
            <li><a href="#"><i class="fa fa-question-circle fa-fw"></i>&nbsp; Help</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--
          ********************  END OF NAV BAR
-->
<div class="container-fluid" ng-controller="MainCtrl as Main">
  <div class="row">
    <div class="col-xs-3">
        <h2>time is{{helloTo.title}} to the world of Tutorialspoint!</h2>
        <h2>time is{{main.time1}} to the world of Tutorialspoint!</h2>
        <h1>kir <small>kir</small></h1><small>kir</small>
        <h4>kir <small>kir</small></h4><small>kir</small>
    </div>

    <div class="col-xs-6" ng-controller="PostCtrl as Post">
      <div>
        <h2>Welcome {{Post.comment[1].content}} to the world of Tutorialspoint!</h2>
          <ul ng-repeat="comment in Post.comments">
              <li>{{comment.content}}</li>
          </ul>
      </div>
          <h5>{{Post.kir(Post.comments)}}kri</h5>
        <article class="panel-default" ng-repeat="post in Post.posts">
            <header class="page-header">
                <div class="media">
                    <div class="pull-left">
                        <a href="#"><img class="media-object" src={{post.user.image}} alt="..."></a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{post.user.screenName}}</h4>
                        <small><time title="{{ post.createdAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" am-time-ago="post.createdAt"></time></small>
                    </div>
                </div>
            </header>

            <!--    Main Content of a post-->
            <div class="panel-body">
                <p ng-bind="post.content.rtf"></p>
            </div>

            <!--    Options bar including share and social networks bottomns-->
            <div class="panel-options">
                <ul class="list-inline list-unstyled">
                    <li><a href=""><i class="fa fa-facebook-square fa-lg"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter-square fa-lg"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus-square fa-lg"></i></a></li>
                    <li><a href=""><i class="fa fa-pinterest-square fa-lg"></i></a></li>
                    <li class="pull-right"><a href=""><i class="fa fa-heart fa-2x"></i></a></li>
                    <li class="pull-right"><a href=""><i class="fa fa-share-square fa-2x"></i></a></li>
                </ul>
            </div>

            <!--    Footer section including comments-->
            <footer class="panel-footer">
                <!--    Comment input-->
                <div class="media">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object" src="http://lorempixel.com/30/30" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <textarea type="text" class="form-control" placeholder="Search for..." rows="1"></textarea>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Send</button>
                  </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>

                <!--    Comments-->
                <ul class="media-list" ng-repeat="comment in post.comments">
                    <li class="media">
                        <div class="pull-left">
                            <a href="#"><img class="media-object" src="{{comment.owner.image}}" alt="..."></a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" ng-cloak>{{comment.owner.screenName}} <small><time title="{{ comment.createdAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" am-time-ago="comment.createdAt"></time></small></h4>
                        </div>
                        <div class="media-body">
                            <p ng-bind="comment.content.text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            <div class="pull-right">
                                <a href="">Replay</a>
                                <a href="">Like</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </footer>
        </article>
    </div>

    <div class="col-xs-3">
      <h2>kos</h2>
    </div>
  </div>
</div>

<script src="../wwwroot/data/data_underTest.js"></script>
<script src="../wwwroot/js/angular.js"></script>
<script src="../wwwroot/js/moment.min.js"></script>
<script src="../wwwroot/js/angular-moment.js"></script>
<script src="app.js"></script>
<script src="../wwwroot/js/jquery.js"></script>
<script src="../wwwroot/js/bootstrap.js"></script>
<script>
    console.log();
</script>
</body>
</html>
